* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  max-width: 1140px;
  margin: 0, auto;
}

html {
  background-color: rgb(233, 250, 255);
  color: #555;
  font-family: "Arial", "sans-serif";
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}
header {
  background-image: linear-gradient(
      rgba(97, 97, 97, 0.364),
      rgba(97, 97, 97, 0.364)
    ),
    url(img/banner.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  width: 100%;
  object-fit: cover;
  background-attachment: fixed;
}
.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
}
h1 {
  margin: 0;
  color: #fff;
  font-size: 200%;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 4px;
  margin-bottom: 20px;
}
h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}
h2:after {
  display: block;
  height: 2px;
  background-color: #f97f51;
  content: "";
  width: 500px;
  margin: auto;
  margin-top: 30px;
}
.long-copy {
  line-height: 145%;
  width: 80%;
  margin-left: 10%;
}
.btn:link,
.btn :visited {
  display: inline-block;
  padding: 10px 10px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  color: #fff;
  transition: 1s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #f97f51;
  border: 1px solid #f97f51;
  color: #fff;
  margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #f97f51;
  color: #f97f51;
}
.btn:hover,
.btn:active {
  background-color: #f75b20;
}
.btn-full:hover,
.btn-active {
  background-color: rgb(255, 255, 255);
  color: #f97f51;
  border: #fff solid 1px;
}
.btn-ghost:hover,
.btn-ghost:active {
  color: #fff;
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
  position: absolute;
  left: 300px;
}
.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-right: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
  padding-bottom: 8px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 98%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 1s;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #f97f51;
}
.box {
  padding: 1%;
}
h3 {
  font-weight: 500;
  font-size: 110%;
  margin-bottom: 15px;
  width: 200%;
}
.box p {
  font-size: 90%;
  line-height: 145%;
}
.icon-big {
  font-size: 300%;
  display: block;
  color: #f97f51;
  margin-bottom: 10px;
}
.meals-showcase {
  list-style: none;
  width: 80%;
}
.meals-showcase li {
  display: block;
  float: right;
  width: 20%;
}
.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: black;
}
.meal-photo img {
  width: 100%;
  height: 250px;
  transform: scale(1.15s);
  transition: transform 1s, opacity 1s;
  opacity: 0.7;
}

.meal-photo img:hover {
  opacity: 1;
  transform: scale(1.03);
}
.span-1-of-2 img {
  width: 500px;
  height: 500px;
}
/** BUTTONS */

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}
.step-box :last-child {
  padding-left: 3%;
  margin-top: 70px;
}
.app-screen {
  width: 40%;
  height: 700px;
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}
#row-h2 {
  padding-top: 300px;
}
.works-step {
  margin-bottom: 50px;
}
.works-step div {
  color: #f97f51;
  border: 4px solid #f97f51;
  display: block;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 5px;
  font-size: 150%;
  float: left;
  margin-right: 10px;
}

.btn-app img {
  width: auto;
  height: 60px;
  margin-right: 10px;
  border: 0px;
}

/*SECTION3

*/
.section3-img {
  width: 90%;
  height: 350px;
  margin-bottom: 10%;
  transition: transform 1s, opacity 1s;
  opacity: 0.9;
  transform: scale(0.9);
  margin-left: -5%;
}
.section3-img:hover {
  transform: scale(0.8);
  opacity: 1.2;
}
.section3-container {
  font-weight: 500;
  font-size: 150%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  margin-left: 10%;
}
.city {
  margin-top: -5%;
  margin-bottom: 5%;
}
.icon-small {
  display: inline-block;
  font-size: 80%;
  color: #f97f51;
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
}
a:link,
a:visited {
  text-decoration: none;
  color: #f97f51;
  border-bottom: 1px;
  border-bottom: 1px solid #f97f51;
  transition: border-bottom 0.5s, color 0.5s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}
.btn-app:link,
.btn-app:visited {
  border-bottom: 0;
}
/*Section4

*/
.collumn {
  display: grid;
  grid-template-columns: 30% 30% 30%;
}
.section4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/be-boi-tuoi-tre-vo-thi-sau-2.jpg);
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 90% 120%;
  background-repeat: no-repeat;
  margin-left: 10%;
  color: #fff;
  font-weight: 200;
}
blockquote {
  text-align: left;
  width: 60%;
  margin-top: 50px;
  margin-left: 20%;
  position: relative;
}
blockquote:before {
  content: "\0022";
  font-size: 400%;
  display: block;
  position: absolute;
  top: -50px;
  left: -40px;
}
.section4 {
  margin-top: 100px;
  height: 500px;
  background-attachment: fixed;
}
cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
  margin-left: 20%;
}
cite img {
  border-radius: 100%;
  height: 50px;
  margin-right: 20px;
  vertical-align: middle;
}
.section4 h2 {
  padding-top: 60px;
}
/*
SECTION 5

*/
.section5 {
  padding-top: 4%;
  display: grid;
  grid-template-columns: 20% 20% 20%;
  column-gap: 100px;
  margin-top: 0px;
}
.section5-list {
  margin-left: 100%;
  width: 100%;
  background-color: rgb(232, 219, 202);
  border-radius: 50px;
}
.section5-text {
  font-weight: 500;
  text-decoration: none;
  font-size: 150%;
  padding-right: 10px;
}
.section5-list h3 {
  color: #f75b20;
  font-weight: 700;
  text-align: center;
  font-size: 120%;
  padding-top: 50px;
  width: 100%;
  border-bottom: 3px solid rgb(199, 172, 172);
  padding-bottom: 10px;
}
.section5-overall {
  background-color: #d3f3eb;
  margin-top: -30px;
  padding-top: 50px;
}
.section5-text ul {
  list-style: none;
  padding-bottom: 14px;
  border-bottom: 3px solid rgb(199, 172, 172);
  padding-bottom: 10px;
  padding-top: 19px;
  box-shadow: 5px 5px 5px rgb(145, 143, 143);
}
.section5-text ul li {
  padding-bottom: 10px;
}
.section5-text span {
  font-size: 155%;
}
.second-text {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 3px solid rgb(199, 172, 172);
}
.section5-text div:last-child {
  text-align: center;
}
.muangay {
  padding-top: 50px;
  padding-bottom: 50px;
}
.special {
  width: 110%;
}
